@media (min-width: 576px) {
  .header-mobile {
    display: none;
    overflow: hidden; } }
@media (max-width: 576px) {
  a {
    color: #fff;
    text-decoration: none; }

  .p-menu1 {
    height: 100%; }

  /* Hamburger */
  .hamburger1 {
    height: 45px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
    float: right; }

  .hamburger1 div {
    background-color: #3d3d3d;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  #toggle1 {
    display: none; }

  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px; }

  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px; }

  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0); }

  #toggle1:checked ~ .menu1 {
    height: 340px; }

  .menu1.visible {
    height: 340px; }

  /* Menu */
  .menu1 {
    width: 100%;
    background-color: #02173f;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 5px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  .menu1 a:first-child {
    margin-top: 20px; }

  .menu1 a:last-child {
    margin-bottom: 20px; } }
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.underlined {
  text-decoration: underline !important; }

/* Sticky Sidebar */
.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

/* Main Image */
.hero-img {
  background-image: url("../img/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* Main Image Text */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white !important;
  filter: brightness(100%); }
  .hero-text h3 {
    margin-bottom: 30px; }

/* Main Image on Non-front Page's*/
.bannerimg {
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(75%); }

.btn-container {
  background: linear-gradient(to right, #9ff5ff, #a49fff) !important;
  border-radius: 20px;
  padding: 10px 20px !important;
  color: white !important;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white; }

.btn {
  height: auto;
  line-height: 35px;
  padding: 0 !important;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  border: 1px solid transparent; }
  .btn a {
    color: #333645;
    text-decoration: none; }
  .btn a:hover {
    color: white;
    text-decoration: none; }

.project-list {
  margin-top: 30px;
  line-height: 1.365rem;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #000;
  text-decoration: none; }
  .project-list a {
    color: #000;
    text-decoration: none;
    transition: 0.5s ease; }
  .project-list a:hover {
    color: #383946;
    text-decoration: none;
    transition: 0.5s ease; }
  .project-list h1 {
    font-size: 2.7rem;
    margin-bottom: -10px;
    margin-top: -13px; }
  .project-list .h2 {
    font-family: inherit;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
    padding-bottom: 10px;
    margin: 0 0 11px; }
  .project-list h3 a {
    color: #333645; }
  .project-list .btn-container {
    margin: 70px 0 0 0; }
  .project-list .btn {
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4px; }
  .project-list .dot {
    background: linear-gradient(to left, #9fffa9, #a49fff) !important;
    border-radius: 20px;
    padding: 10px;
    margin: 0 20%; }
  .project-list .dot:hover {
    background-color: white;
    color: black;
    border-color: transparent;
    top: -10px;
    transition: 0.5s ease; }
  .project-list .block {
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    display: block;
    min-height: 320px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    top: 0;
    transition: top ease 0.5s; }
  .project-list .block:hover {
    background-color: white;
    color: black;
    border-color: transparent;
    top: -10px;
    transition: 0.5s ease; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000; }
  .overlay .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out; }
  .overlay .popup h2 {
    margin: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif; }
  .overlay .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333; }
  .overlay .popup .close:hover {
    color: #d80606; }
  .overlay .popup .content {
    max-height: 30%;
    overflow: auto; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 700px) {
  .box {
    width: 70%; }

  .popup {
    width: 70%; } }
.contact-us-form {
  padding: 10px !important;
  margin: 10px !important; }
  .contact-us-form p {
    padding: 0;
    text-overflow: initial;
    word-wrap: break-word; }
  .contact-us-form a {
    color: black;
    text-decoration: none; }
  .contact-us-form .error {
    color: red; }
  .contact-us-form .btn-container {
    background: linear-gradient(to right, #9ff5ff, #a49fff) !important;
    border-radius: 3px;
    color: white !important;
    padding: 0;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .contact-us-form .btn {
    height: auto;
    line-height: 35px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 3px;
    text-align: center;
    border: 1px solid transparent; }
    .contact-us-form .btn a {
      color: #333645;
      text-decoration: none; }
    .contact-us-form .btn a:hover {
      color: white;
      text-decoration: none; }

.textblock {
  margin: 20px 10%;
  margin-top: 20px;
  padding: 20px !important;
  display: block;
  border-radius: 15px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 20px; }

@media (min-width: 576px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

  .sidebar-div {
    grid-area: 1 / 1 / 6 / 2; }

  .mainbody-div {
    grid-area: 1 / 2 / 6 / 5; }

  .banner-div {
    grid-area: 1 / 2 / 2 / 5; }

  .project-list {
    grid-area: 4 / 2 / 5 / 5; }

  .contact-us-form {
    grid-area: 2 / 2 / 4 / 5; }

  .div6 {
    grid-area: 2 / 2 / 3 / 3; }

  .div7 {
    grid-area: 3 / 2 / 4 / 3; }

  .div8 {
    grid-area: 2 / 3 / 3 / 4; }

  .div9 {
    grid-area: 3 / 3 / 4 / 4; }

  .div10 {
    grid-area: 2 / 4 / 3 / 5; }

  .div11 {
    grid-area: 3 / 4 / 4 / 5; } }
@media (min-width: 576px) and (max-width: 992px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

  .project-1 {
    grid-area: 1 / 1 / 2 / 2; }

  .project-2 {
    grid-area: 1 / 2 / 2 / 3; }

  .project-3 {
    grid-area: 2 / 1 / 3 / 2; }

  .project-4 {
    grid-area: 2 / 2 / 3 / 3; }

  .project-5 {
    grid-area: 3 / 1 / 4 / 2; }

  .project-6 {
    grid-area: 3 / 2 / 4 / 3; } }
@media (min-width: 992px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

  .project-1 {
    grid-area: 1 / 1 / 2 / 2; }

  .project-2 {
    grid-area: 1 / 2 / 2 / 3; }

  .project-3 {
    grid-area: 1 / 3 / 2 / 4; }

  .project-4 {
    grid-area: 2 / 1 / 3 / 2; }

  .project-5 {
    grid-area: 2 / 2 / 3 / 3; }

  .project-6 {
    grid-area: 2 / 3 / 3 / 4; } }
.project-1 .block {
  background-image: url("../img/photo-1488477181946-6428a0291777.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

.project-2 .block {
  background-image: url("../img/Javascript-array-reflection.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

.project-3 .block {
  background-image: url("/img/movie-database-table-structure.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

.project-4 .block {
  background-image: url("../img/photo-1563379926898-05f4575a45d8.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

.project-5 .block {
  background-image: url("../img/photo-1565299624946-b28f40a0ae38.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

.project-6 .block {
  background-image: url("../img/photo-1574484284002-952d92456975.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1A1D29; }

@media screen and (max-width: 700px) {
  .project-1 .block {
    background-image: url("../img/photo-1488477181946-6428a0291777-small.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; }

  .project-2 .block {
    background-image: url("../img/Javascript-array-reflection.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; }

  .project-3 .block {
    background-image: url("/img/movie-database-table-structure.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; }

  .project-4 .block {
    background-image: url("../img/photo-1563379926898-05f4575a45d8.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; }

  .project-5 .block {
    background-image: url("../img/photo-1565299624946-b28f40a0ae38.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; }

  .project-6 .block {
    background-image: url("../img/photo-1574484284002-952d92456975.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A1D29; } }
.social-media-icons {
  padding: 10px; }
  .social-media-icons i {
    margin: 10px; }
  .social-media-icons a {
    color: black;
    text-decoration: none; }
  .social-media-icons a:hover {
    color: darkgrey; }

@media (max-width: 576px) {
  .sidebar-div {
    display: none; } }
.sidebar {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.nav-link:hover {
  background-color: #bfbfbf; }

.sidebar div {
  padding: 0;
  margin: 0;
  font-size: 24px;
  display: block; }

.body-text {
  margin-left: 150px;
  font-size: 18px; }

.slick-slider .slick-slide {
  width: 800px;
  height: 600px;
  display: block;
  border-radius: 15px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: white;
  color: black; }

.slick-slider .slick-slide img {
  object-fit: cover;
  object-position: center;
  padding: auto;
  margin: auto;
  height: 95%;
  width: 95%;
  border-radius: 15px; }

iframe {
  height: 95%;
  overflow: hidden !important;
  overflow-x: hidden; }

.screenshot {
  margin: 20px 0;
  width: 100%;
  height: auto; }

.project-1-examples {
  display: block; }
  .project-1-examples .navlink {
    padding: 0;
    margin: 0;
    color: white; }
  .project-1-examples .row {
    padding: 0px !important;
    margin: 0px !important; }
  .project-1-examples .navbar-nav {
    padding: 0px !important; }
  .project-1-examples .nav-item {
    border: 5px solid red; }
  .project-1-examples p {
    font-size: 1.0rem;
    line-height: 1.5;
    color: #333; }
  .project-1-examples pre {
    width: 100%;
    margin: 0;
    background: #f3f3f3;
    padding: 1rem;
    color: #67809f;
    text-align: left; }
  .project-1-examples span.explanation {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-top: 1rem; }
  @media screen and (min-width: 992px) {
    .project-1-examples pre,
    .project-1-examples code {
      color: blue;
      margin: 0;
      padding: 0 0 0 10px;
      font-size: 1rem;
      float: left; }
      .project-1-examples pre style,
      .project-1-examples code style {
        padding: 0 0 0 10px; }
    .project-1-examples .explanation {
      font-size: 1rem;
      padding: 0; } }

.project-3-examples .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .project-3-examples .container .SQL-Challenge table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; }
  .project-3-examples .container .SQL-Challenge th,
  .project-3-examples .container .SQL-Challenge td {
    padding: 10px;
    width: 20%;
    text-align: left;
    border: 1px solid #ddd; }
  .project-3-examples .container .SQL-Challenge th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 18px; }
  .project-3-examples .container .SQL-Challenge td {
    font-size: 16px; }
  .project-3-examples .container .SQL-Challenge tr:nth-child(even) {
    background-color: #f5f5f5; }

/*# sourceMappingURL=application.css.map */
